<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Login</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="./include/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link href="./include/css/signin.css" rel="stylesheet" />

    <script src="./include/js/jquery-3.2.1.min.js"></script>
    <script src="./include/js/vue.min.js"></script>
    <script src="./include/js/api.js"></script>
    <script src="./include/js/util.js"></script>
</head>

<body>
<div class="container">
    <div class="form-signin">

        <h1 class="form-title">Multi-Function Platform</h1>
        <h3 class="form-title">User Login</h3>

        <div class="form-group">
        <input type="text" style="text-align:center" class="form-control name" placeholder="account" required v-model="userName" />
        </div>

        <div class="form-group">
        <input type="password" style="text-align: center" class="form-control" placeholder="password" required v-model="password" autocomplete = "new-password"/>
        </div>

        <div class="form-group">
            <input type="password" style="text-align: center" class="form-control" placeholder="verification" required v-model="captcha" autocomplete = "new-captcha"/>
        </div>
        <div class="form-group">
            <img alt="如果看不清楚，请单击图片刷新！" class="pointer" :src="srcimage" @click="refreshCode">
            &nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:;" @click="refreshCode" style="color: #f7f7f7">refresh</a>
        </div>
        <!--<div class="remember">-->
            <!--<label for="chk">-->
                <!--<input id="chk" type="checkbox" v-model="remember"> 记住账号</label>-->
        <!--</div>-->
        <input type="button" value="Enter" id="btnPost" class="btn btn-lg btn-primary btn-block" />
        <div class="msg alert alert-danger" v-if="msg" v-html="msg"></div>
    </div>
</div>

    <script>
        $(document).ready(function () {

            var v = new Vue({
                el: ".form-signin",
                data: {
                    userName:"",
                    password: "",
                    captcha:"",
                    msg: "",
                    srcimage:'captcha.jpg'
                },
                methods: {
                    refreshCode: function () {
                        this.srcimage = "/v1/captcha.jpg?t=" + $.now();
                    },
                }
            });
            $("#btnPost").click(function () {
                api.login(v.$data).done(function (res) {
                    console.log("返回数据");
                    console.log(res);
                    console.log(res.result.msg);
                    if (res.result.code == 0) {
                        console.log("aaaa");
                        // var token =res.data.token;
                        sessionStorage.setItem("token",res.result.data.token);
                        sessionStorage.setItem("loginUser",JSON.stringify(res.result.data.loginUser));
                        sessionStorage.setItem("url","./account/index");
                        location.href="/index.html";
                        v.msg = res.result.msg;
                    }
                    else {
                        v.msg = res.result.msg;
                    }
                }).fail(function () {
                    v.msg = "网络错误";
                });
            });
        });
    </script>
</body>
</html>